<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style type="text/css">

        </style>
    </head>
    <body>
        <div class="header">
            <div id="banner">
                <div id="profil">
                    <img src="./Image/moi.jpg">
                </div>
                <div>
                    <h1>Sylvain</h1>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="./index.html">Him</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./friends.html">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./interests.html">Interests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./comments.html">Comments</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h2 class="card-title">Know me better !</h2>
                <div class="card-text">
                    <p><b>Passion</b><br> Love what you do, be passionate about what you do. Whether in the sentimental life or professional life.</p>
                    <p><b>Work</b><br> Work hard, very hard, and enjoy it.</p>
                    <p><b>Concentration</b><br> Know how to concentrate and focus on one thing at a time, do not be distracted.</p>
                    <p><b>Motivation</b><br> Always be motivated, to push ever further. Sport helps to maintain this state of motivation. Don't forget it !</p>
                    <p><b>Inspiration</b><br> Think, imagine, have ideas, no matter how good or bad. Better to have 99 bad ideas and a good one than none. It will improve the quality of your ideas with time.</p>
                    <p><b>Progress</b><br> Train yourself, improve your skills, analyze what you are doing all the time for progress.</p>
                    <p><b>Service</b><br> Make service when you can, bring value to others, but don't forget your priorities.</p>
                    <p><b>Persistence</b><br> Do not give up, continue, persist. Satisfaction will come soon or later.</p>
                </div>
                <a href="./interests.html" class="btn btn-primary">Know more !</a>
              </div>
        </div>
    	<div class="section">
    	</div>
        <div id="footer">
            <p>This is a website landing ©Comp Show</p>
            <ul class="list-inline">
              <li class="list-inline-item" ><a href="#"><i class="fab fa-youtube"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>
    </body>
</html>
